@charset "UTF-8";

* {
	box-sizing: border-box;
}

#main2 {
	width: 793px;
	margin: auto;
}

#main2 a {
	text-decoration: none;
}

#main2 #content2 {
	min-height: 400px;
	width: 100%;
	padding: 30px;
}

/* 조회 --------------- */
#main2 #content2 #board2 .frm_search2 {
    text-align: right;
}

#main2 #content2 #board2 .title2 {
    background: #777;
    color: #fff;
    padding: 2px;
    margin: 3px 0;
    display: flex;
}

#main2 #content2 #board2 .item2 {
    display: flex;
}

#main2 #content2 #board2 .no2 { width:70px; }
#main2 #content2 #board2 .subject2 {width:300px; flex-grow:12; }
#main2 #content2 #board2 .id2 { width: 120px; flex-grow:1; }
#main2 #content2 #board2 .nal2 { width: 90px; flex-grow:1; }
#main2 #content2 #board2 .hit2 { width: 60px; flex-grow:1; }

#main2 #content2 #board2 .item2:hover {
    background-color: #ddd;
    cursor: pointer;
}

#board .item2:last-child {
    border-bottom: 1px solid #ccc;
    margin: 3px 0;
}

#board .btnZone input {
    border-radius: 14px;
    border: 1px solid #bbb;
    padding: 2px 7px;
}

/* 상세보기 -------------------------- */
#board .attFile {
    background: #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

#board .frm_view .doc {
    width: 600px;
    height: 300px;
    background: #fff;
    padding: 10px;
    margin: 10px 0;
}

.attFileZone {
	display: flex;
	justify-content: left;
}

.attFileZone .attFile {
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #ddba89 !important;
	box-sizing: border-box;
	min-width: 100px;
	height: 125px;
	text-align: left;
}

/* 입력 ----------------------------- */
#board .frm_insert .subject {
    width: 600px;
}

#board .frm_insert .doc {
    width: 600px;
    height: 300px;
}

/* 수정 ----------------------------- */
#board .frm_update .subject{
    width: 600px;
    
}

#board .frm_update .doc{
    width: 600px;
    height: 300px;
}

#board .frm_update .delFile {
    width: auto;
    display: inline-block;
    margin: 5px 14px;
}

input[type="checkbox"]:checked ~ span {
    text-decoration: line-through;
    color: #f00;
    /*box-shadow: 0 0 0 10px orange;*/
}
